
#btnBar {
    position: absolute;
    right: 10px;

    z-index: 3000;
    margin-top: 10px;
    
}

#btnBar .button .material-icons{
    vertical-align: text-bottom;
    width:1.2em;
}
#btnBar .button {
    border: 2px solid gray;
    background-color: #fff;
    color:black;    
    border-radius: 5px;
    display:block;
    min-width:90px;
    XXXmin-height:30px;
    margin:0.2em;
    padding:0.2em;
    clear:left;
   XXfloat:right;
   user-select: none;
}


#btnBar .button:hover{
     background-color: #ddd;  
    cursor: pointer;     
}

.toggle-button-marker{
    float:right;
    margin-top:0.3em;
    width: 0.5em;
    height: 0.5em;

    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-top: 2px solid #666;
    border-left: 2px solid #666;

   
    background-color: gray;
}
.toggle-button-on .toggle-button-marker {
    background-color: greenyellow;

}

#btnBar .toggle-button-on {
    
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 3px solid #666;
    border-left: 3px solid #666;

    
   
   XXbackground-color: #eee;
} 

#btnBar .toggle-button-on>div {
    position: relative;
    top:0px;
    left:0px;
}
XXswitchLayerBtn:hover #switchLayerBtnLabel ,
XXXswitchLayerBtnLabel{
    background-color: white;
}

#switchLayerBtn{
    background-position: 0px 1.8em;
    background-repeat: repeat-x;
  background-size: auto;
}
#switchLayerBtnPreview{
    height:30px;
}

.nextIs-map{
    background-image: url("../images/map.png");
}

.nextIs-aerial {
    background-image: url("../images/aerial.png");
}


.nextIs-dark {
    background-image: url("../images/dark.png");
}

.nextIs-light {
    background-image: url("../images/light.png");
}