#map {
    margin: 0px;
    padding: 0px;
}

#mapContainer {
    position: relative;
    width: 100%;
    height: 100%;

}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100;
}

.tilePath-DEV,.tilePath-nodata {
    padding: 10px;
    
    left:-100px;
    width:200px !important;
    font-family: 'Courier New', Courier, monospace;
}
.tilePath-DEV {
    color: blue;    
}
.tilePath-nodata {
    color: red;    
    font-weight: bold;
}

